.wallet-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-primary);
  color: var(--color-light)
}

.header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-buttons button {
  min-width: 8rem;
}