.coin-details,
.coin-details__action-buttons,
.coin-details__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.coin-details__action-buttons,
.coin-details__header {
  flex-direction: row;
  gap: 1rem;
}
