.btn {
  background-color: var(--color-secondary);
  color: var(--color-light);
  border: none;
  font-size: var(--font-size-sm);
  padding: .5rem .8rem;
  cursor: pointer;
  min-width: 10rem;
  transition: all .2s ease-in-out;
}

.sm {
  font-size: var(--font-size-xs);
  padding: .2rem .5rem;
}

.lg {
  font-size: var(--font-size-lg);
  padding: .8rem 1.2rem;
}

.secondary {
  background-color: var(--color-primary-light);
  color: var(--color-light);
}

.outlined {
  background-color: transparent;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.outlined-secondary {
  background-color: transparent;
  color: var(--color-primary-lightest);
  border: 1px solid var(--color-primary-lightest);
}

.btn:hover {
  background-color: var(--color-secondary-light);
}

.outlined:hover {
  background-color: var(--color-secondary-light);
  color: var(--color-light);
}

.outlined-secondary:hover {
  background-color: var(--color-primary-lighter);
  color: var(--color-light);
}

.btn:disabled {
  background-color: gainsboro;
  color: grey;
  cursor: not-allowed;
}