.btn {
  background-color: var(--color-secondary-dark);
  color: var(--color-light);
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-sm);
  padding: .3rem .5rem;
  cursor: pointer;
}

.btn-sm {
  font-size: var(--font-size-xs);
  border-radius: 3px;
  padding: 0 .2rem;
}

.btn-lg {
  font-size: var(--font-size-lg);
  border-radius: 7px;
  padding: .5rem .8rem;
}

.btn:hover {
  background-color: var(--color-secondary);
}