.header {
  height: 8rem;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo__title {
  font-size: 3rem;
}

.logo__image {
  width: 4rem;
  height: 4rem;
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 0 1rem;
  }
}
