.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
  height: 100%;
}

.empty-list img {
  height: 20rem;
  width: 20rem;
  opacity: 0.2;
}

.empty-list p {
  color: var(--color-primary-lightest);
}
