.assets-table {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 1rem;
  flex: 4;
  color: var(--color-primary-lightest);
  max-height: 60rem;
}

.assets-table > .table-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: last baseline;
  gap: 2rem;
  padding: 0 0 1rem 0;
  background-color: var(--color-light);
}

.assets-table > .table-header > .table-title {
  color: var(--color-primary-light);
}

.assets-table > .table-header > .table-select {
  background-color: transparent;
  border: none;
  color: var(--color-primary-lightest);
}

.assets-table > table {
  width: max-content;
  width: -moz-available;
}

.assets-table > table > thead {
  text-align: justify;
  color: var(--color-primary-lighter);
}

.assets-table > table > tbody > tr {
  cursor: pointer;
}

.assets-table > table > tbody > tr > td,
.assets-table > table > tfoot > tr > td,
.assets-table > table > thead > tr > th {
  padding: 1rem;
}

.assets-table > table > tbody > tr:hover {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

.coin {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.coin-name {
  width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.up {
  color: mediumaquamarine;
}

.assets-table > table > tbody > tr:hover > .up,
.assets-table > table > tbody > tr:hover > .down {
  color: var(--color-light);
}

.down {
  color: Salmon;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hide-on-mobile {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1600px) {
  .assets-table {
    padding: 0;
    flex: 1;
  }

  .hide-on-mobile {
    display: none;
  }

  .assets-table > table {
    font-size: var(--font-size-sm);
  }
}

@media only screen and (max-width: 1200px) {
  .assets-table {
    padding: 0;
    flex: 2;
  }

  .hide-on-mobile {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .assets-table > table > tbody > tr > td,
  .assets-table > table > tfoot > tr > td,
  .assets-table > table > thead > tr > th {
    padding: 0 1rem;
  }
  .hide-on-mobile {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .assets-table > table > tbody > tr > td,
  .assets-table > table > tfoot > tr > td,
  .assets-table > table > thead > tr > th {
    padding: 1rem;
  }
  .hide-on-mobile {
    display: none;
  }
}
