.assets-table {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 1rem;
  flex: 4;
  color: var(--color-primary-lightest);
}

.assets-table > .table-title {
  color: var(--color-primary-light);
}

.assets-table > table {
  width: 100%;
}

.assets-table > table > thead {
  text-align: justify;
  color: var(--color-primary-lighter);
}

.assets-table > table > tbody > tr {
  cursor: pointer;
}

.assets-table > table > tbody > tr > td,
.assets-table > table > tfoot > tr > td,
.assets-table > table > thead > tr > th {
  padding: 1rem;
}

.assets-table > table > tbody > tr:hover {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

.coin {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.coin-name {
  width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.up {
  color: mediumaquamarine;
}

.assets-table > table > tbody > tr:hover > .up,
.assets-table > table > tbody > tr:hover > .down {
  color: var(--color-light);
}

.down {
  color: Salmon;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (max-width: 1600px) {
  .hide-on-mobile {
    display: none;
  }

  .assets-table > table {
    font-size: var(--font-size-sm);
  }
}

@media only screen and (max-width: 1200px) {
  .assets-table {
    padding: 0;
    max-height: 40vh;
  }

  .table-title {
    position: sticky;
    top: 0;
    background-color: var(--color-light);
  }
}
