.assets-table {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 3;
}

.assets-table > table{
  width: 100%;
}

.assets-table > table > thead {
  text-align: justify;
}

.assets-table > table > tbody > tr {
  cursor: pointer;
}

.assets-table > table > tbody > tr:hover {
  background-color: var(--color-primary-light);
}