@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;700;800&family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');

:root {
  /* COLOR VARIABLES */
  --color-primary: #191645;
  --color-primary-light: #38319b;
  --color-primary-lighter: #463dc2;
  --color-primary-lightest: #a29fc6;
  --color-primary-dark: #070613;

  --color-secondary: #43c6ac;
  --color-secondary-light: #8adbcb;
  --color-secondary-dark: #247565;

  --color-light: #fff;

  /* FONT VARIABLES */
  --font-primary: 'Red Hat Display', sans-serif;
  --font-display: 'Outfit', sans-serif;

  /* FONT VARIABLES */
  --font-size-xs: 1.4rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 1.8rem;
  --font-size-lg: 2rem;
  --font-size-xl: 2.2rem;

  /* LINE HEIGHT VARIABLES */
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 1.9;
}

::selection {
  background: var(--color-primary-light);
  color: var(--color-light)
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: var(--font-primary);
}

body {
  color: var(--color-primary);
  background-color: var(--color-light);
  font-weight: 500;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.3rem;
}

h5 {
  font-size: 1.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}